# netdata configuration
#
# You can download the latest version of this file, using:
#
#  wget -O /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
# or
#  curl -o /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
#
# You can uncomment and change any of the options below.
# The value shown in the commented settings, is the default value.
#

[global]
    run as user = netdata

    memory mode = {{ netdata_conf.memory_mode | default('dbengine') }}
    page cache size = {{ netdata_conf.page_cache_size | default('64') }}
    dbengine disk space = {{ netdata_conf.dbengine_disk_space | default('512') }}
    dbengine multihost disk space = {{ netdata_conf.dbengine_disk_space | default('512') }}

    # some defaults to run netdata with least priority
    process scheduling policy = idle
    OOM score = 1000

[web]
    web files owner = netdata
    web files group = netdata

    bind to = {{ netdata_conf.web_bind_to | default('0.0.0.0') }}
